.main {
  width: 660px;
  margin: 10px auto 0px;
  line-height: 1.7;
  font-weight: 400;
  color:#333;
}

.main p {
  margin: 20px 0;
}


.head-pic {
  width: 100%;
}

.author-avatar {
  width: 40px;
  border-radius: 50%;
  float: left;
}

ul, ol {
  padding-left: 24px;
  margin: 20px 0;
}

li {
  margin: 10px 0 0;
}
